<h2 style = "padding-bottom: 10px;">Editing Book</h2>

<%= form_for(@book) do |f| %>
  <%= render "layouts/error_messages", model: f.object %>
    <h5>Title</h5>
        <%= f.text_field :title %>
    <h5>Body</h5>
        <%= f.text_area :body, size: "50x5" %>
    <br>
        <%= f.submit " Update Book " %>
<% end %>

<span style = "text-align: left; font-size: 13px;">
	<%= link_to "Show", book_path(@book.id), style: "color: #555555;" %>
	|
	<%= link_to "Back", books_path, style: "color: #555555;" %>
</span>